# master
[mysqld]

log-bin = mysql-bin 
server-id = 1 
binlog_format = row 
expire_logs_days = 2

# slave
[mysqld]

log-bin = mysql-bin
server-id = 2
binlog_format = row
expire_logs_days = 2

read_only = 1